*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 7%;
    background-color: rgb(97, 173, 192);
}

.nav-bar li
{
    display: inline-block;
    padding: 2px 20px;
    transition: 0.3s;
    cursor: pointer;
    font-size: 1.2rem;
    color: white;
}


.nav-bar li:hover
{
    transform: translateX(7px);
    color: red;
}
 
.order-container
{
    display: flex;
    justify-content: space-between;
}

.order-btn
{
    padding: 8px 10px;
    border-radius: 10px;
    border: none;
    background-color: rgb(26, 26, 219);
    border: 2px solid blue;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s;
    transform: translateX(-18px);
}

/* .order-btn:hover
{
    transform: translateY(-10px);
} */

.cart
{
    background-color: transparent;
    border: none; 
    cursor: pointer;
}

.cart i 
{
    font-size: 1.7rem;
    padding-top: 2px;   
    transition: 0.3s ease-in; 
}

.cart:hover i
{
    color: white;
} 

.ham-burger
{
    display: none; 
}

.hamburger-icon
{
  color: white;
  font-size: 1.3rem;
  font-weight: bolder;
  cursor: pointer;
}

/*modal stying */

.modal
{
    display: none;
}

.modal-background
{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
}
 
.modal-nav-content
{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0; 
    width: 30vw;
    background-color: rgb(29, 92, 217);   
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transform: translateX(-100%);
    animation: slideIn 0.5s ease-in-out forwards;
}

.close-btn-container
{
    position: absolute;
    right: 1.5vw; 
}

.close-btn
{
    color: white;
    font-size: 1.3rem;
    cursor: pointer;
}

.modal-nav-bar 
{
    margin-top: 5vh;
}

.modal-nav-bar li
{
    color: white;
    padding: 10px;
    font-size: 1.2rem;
}

/* js css classes*/ 
.show-modal
{
    display: block;
}

.show-modal .modal-nav-content {
    animation: slideIn 0.5s ease-in-out forwards;  
}

/* Animation when closing */
.hide-modal .modal-nav-content {
    animation: slideOut 0.5s ease-in-out forwards; 
}




/*animations*/
@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0%);
    }
}
 
@keyframes slideOut {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
}

 

@media screen and (max-width:510px) {
    
     .nav-bar
    {
      display: none;
    } 
    
    .ham-burger
    {
        display: block;
    }

    .modal-nav-content
    {
        width: 35vw;
    }

}